<div>
    <div class="div-table">
      <div class="div-table-row">
        <label class="div-table-row-question label-question">
        {{ (question$ | async )?.text }}
        </label>
      </div>
    </div>
    <div class="div-table"> 
      <div class="div-table-row">
          <div class="div-table-cell div-table-cell-checkbox">
            <input type="checkbox" class="largeCheckbox"/>
          </div>
          <div class="div-table-cell div-table-cell-selection-text">
            <label class="label-question">Is this true or what.</label>
          </div>
      </div>
      <div class="div-table-row">
        <div class="div-table-cell div-table-cell-checkbox">
          <input type="checkbox" class="largeCheckbox"/>
        </div>
        <div class="div-table-cell div-table-cell-selection-text">
          <label class="label-question">Is this true or what. Maybe we should try with a bit longer version.</label>
        </div>
      </div>
      <div class="div-table-row">
        <div class="div-table-cell div-table-cell-checkbox">
          <input type="checkbox" class="largeCheckbox"/>
        </div>
        <div class="div-table-cell div-table-cell-selection-text">
          <label class="label-question">Is this true or what.</label>
        </div>
      </div>
    </div>
  </div>
