<div>
    <div class="div-table">
      <div class="div-table-row">
        <label class="div-table-row-question label-question">
        {{ (question$ | async )?.text }}
        </label>
      </div>
    </div>
    <form [formGroup]="singlePickQuestionForm" (ngSubmit)="submitquestion(singlePickQuestionForm.value)">
      <div class="div-table"> 
        <div *ngFor="let option of options.controls; index as optid" class="div-table-row">
            <div class="div-table-cell div-table-cell-checkbox">
              <input [formControl]="option" type="checkbox" class="largeCheckbox"/>
            </div>
            <div class="div-table-cell div-table-cell-selection-text">
              <label class="label-question">{{ (question$ | async )?.options![optid].text }}</label>
            </div>
          </div>
      </div>
      <div>
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
