.div-table {
    display: table;                 
    background-color: #eee;         
    border: 1px solid #666666;   
    width: 80%; 
    height: auto;
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
    margin-left: auto;
    margin-right: auto;
    scale: 1;
    border-collapse: collapse;
  }
  .div-table-row {
    display: table-row;
    border-bottom: 1px solid black;
  }
  .div-table-cell {
    display: table-cell;             
  }
  .div-table-cell-checkbox {
    width: 10%;
    padding-top: 1px;
    text-align: center;
  }
  input.largeCheckbox {
    height: 50px;
    width: 50px;
  }
  .label-question {
    font-size: large;
  }
  .div-table-cell-selection-text {
    text-align: left;
    vertical-align: middle;
  }
  .div-table-row-question {
    display: block;
    padding: 5px;
    text-align: left;
  }