<p>singlepick works!</p>
<div [formGroup]="singlePickForm" >
    <div formArrayName="options">
        <h2>Aliases</h2>
        @for (option of this.options.controls; track $index; let currIndex = $index) {
            <div>
                <input id="option-{{ currIndex }}" type="checkbox" [checked]="currIndex == selectedIndex" 
                    (click)="selectedIndex = currIndex" />
                <label for="option-{{ currIndex }}">Option:</label>
            </div>
        }
        <button type="button">Submit</button>
    </div>
</div>